
.size {
    font-size: xx-large;
    text-align: center;
    position: relative;
    width: 91.555%;
    background-color: #e7ecef;
}

.img{
    text-align: center;
    height: 705px;
    padding-top: 20px ;
    margin-bottom: 30px;
    
}

.list {
    font-size:x-large ;
    background-color: #e7ecef;
    width: 190%;
    height: 705px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    
}

.contact{
    font-size: xx-large;
    position: relative;
    left: 44%;
    color: #000000;
}

footer a:hover{
    color: rgb(53, 186, 186);
    transition: 0.75s ease-in; 
}